.calForm p, text{
    width: 400px;
    display: block;
    margin:5px 0;
    text-align: center;
    padding-left: 50px
}
.calForm label {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 25px;
    padding-top: 5px;
}
.calForm input[type="text"]{
    vertical-align: top;
    width: 150px;
    font-size: 20px;
}

.calculator{
    background-color: #fff;
    border-radius: 10px;
    height: 180px;
    
}

.calForm input[type="reset"]{
    vertical-align: top;
    width: 150px;
    float: right;
    
}
.calForm input[type="button"]{
    vertical-align: top;
    width: 150px;
    float: left;
}