.convertInput{

    width: 10em;
    height:2em; 
    margin:1rem;
    margin-right: 0.5rem;
   
}

.converterList{
    padding: 15px;
    text-align: center; /*让div内部文字居中*/
    background-color: #fff;
    border-radius: 20px;
    
    height: 100px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
}

.outter{
   margin-top: 150px;
   margin-bottom: 450px;
   
}