.calculator{
    margin-bottom:1.3rem;
    padding: 1.3rem;
    border: 1px solid #e8e8e8;
    background: #ffffff;

}

.item__message{
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}
//BEM - Block, Element, Modifier
.item__message--empty{
    color: #999999;
}

