.title-bar{
    background:#4d99d6;
    color:#ffffff;
}
.login{
    position: absolute; 
    right: 10px; 
    top: 10px;
    margin-right:20px; 
   
}

.logoutbutton{
    background:#69c9d6;
    color:#ffffff;
    
}