/* CSS declarations go here */
*{
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%;
}
body{
    background: #f2f2f2;
    color:#555555; // font color
    font-family:Helvetica, Arial, sans-serif; 
    font-size: 1.6rem;
    
}

h1{
    font-weight: 300;
    font-size: 2.4rem;

}


@import './components/wrapper';
@import './components/title-ar';
@import './components/item';
@import './components/button';
@import './components/calculate';
@import './components/convert';
@import './components/itemlist';